* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  align-content: center;

  padding: 10px 60px;

  height: 100px;
  background-color: rgb(1, 127, 255);
}

.logo {
  height: 100%;
}

.searchbar {
  width: 100%;
}

.searchbar button:hover {
  cursor: pointer;
}

.user a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.main {
  padding: 20px 60px;
  background-color: rgb(239, 239, 239);
}

.content__product {
  background-color: white;
  margin-top: 20px;
}

.product__detail {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.product__card {
  padding: 10px;
}

.product__card span {
  display: block;
  font-weight: bold;
  text-align: center;
}

.product__card a {
  text-decoration: none;
}
